@mixin modal( $max-width: 500px ) {
    width: 100%;
    max-width: $max-width;
    height: auto;
    background: rgba(249,249,238, 0.95);
    border: 10px groove #C77566;
    border-radius: 10px;
    padding: 1em;
}